
.input {
    color: rgb(244, 115, 11);
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    border-radius: 15%;
    border-style: double;
}

.dropDown {
    color: rgb(244, 30, 11);
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    border-radius: 15%;
    border-style: double;
}

.couponId {
    color: rgb(139, 11, 244);
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    border-radius: 15%;
    border-style: double;
}

.header {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15%;
    border-style: dotted;
}